<%- include('../partials/header'); %>
    <%- include('../partials/sidebar'); %>

        <div class="content-wrapper">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Add Permission</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Add Permission</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("../notify"); %>
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <!-- <a href="/Add Permission-list" class="btn btn-primary">Back</a> -->
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="content">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-12">

                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Add Add Permission</h3>
                                    </div>


                                    <div class="container">
                                        <form id="mostCompleteForm" action="/give-permission" method="POST">





                                            <div class="row mt-5">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Add Permission name</label>
                                                        <input type="hidden" name="role_id"  value="<%=role_object?.id%>">
                                                    </div>
                                                   
                                                    <h3> <%= Role?.role_name %></h3>
                                                </div>

                                                <div class="col-md-6">
                                                    <label for="cars">Allow Permission</label>
                                                    <br>
                                                   
                                                    

                                                    <%= user_permission?.permission %>
                                                    <% if(permission_data?.length){
                                                        permission_data.forEach((element,index)=>{%>
                                                            <input type="checkbox" id="vehicle1" <% if(per_id_array?.includes(element?.id)){ %> checked <%}%>  name="permission_name" value="<%= element?.id %>">
                                                            <label for="vehicle1"><%=element?.name%></label><br>
                                                        <%})} %>
                                                </div>
                                            </div>







                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                            </div>


                            <div class="col-md-6">
                            </div>

                        </div>

                    </div>
                </section>



                <section class="container mt-5">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Sr No</th>
                                <th>Role</th>
                                <th>Model</th>
                                <th>Permission</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(roleByPermission.length){ roleByPermission.forEach((element,index)=>{%>
                                <tr>
                                    <td>
                                        <%= index+1 %>
                                    </td>
                                    <td>
                                        <%- element?.Role?.role_name %>
                                    </td>
                                    <td>
                                        Model
                                    </td>
                                    <td>
                                        <%- element?.Permission?.name %>
                                    </td>

                                    <td>
                                        <a href="/delete-role-and-permission?id=<%= element.id %>"><i        class="fa fa-trash-o"
                                                style="font-size:25px; color:red"></i></a>

                                        <!-- <a href="/update-role-and-permission?id=<%= element.id %>"><i class='fas fa-pen-nib'
                                                style="font-size:25px;"></i></a> -->

                                        <!-- <a href="/get-permission-page?id=<%= element.id %>">ASSIGN
                                            PERMISSION</a> -->
                                    </td>
                                </tr>
                                <% }) } %>
                        </tbody>
                    </table>
                </section>

        </div>

        <script>

            let d = CKEDITOR.replace('description');

        </script>
        <%- include('../partials/footer'); %>