<%- include('../../../partials/header'); %>
    <%- include('../../../partials/sidebar'); %>
    
        <div class="content-wrapper">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Update Contact</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Update Contact</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("../../../notify"); %> 
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <a href="/contacts-list" class="btn btn-primary">Back</a>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
          
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Update Contact</h3>
                                            </div>

                                            <form id="bannerForm" action="/update-store" method="POST">

                                                <div class="card-body">
                                               <input type="hidden" name="contactId"  value="<%= update_contact.id %>" >
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Address</label>
                                                        <input type="text" value="<%= update_contact.address %>" name="address" class="form-control"
                                                            id="exampleInputEmail1" placeholder="Enter contact address" required>
                                                     </div>

                                                     <div class="form-group">
                                                        <label for="exampleInputEmail1">Email</label>
                                                        <input type="email" value="<%= update_contact.email %>" name="email" class="form-control"
                                                            id="exampleInputEmail1" placeholder="Enter email" required>
                                                     </div>

                                                     <div class="form-group">
                                                        <label for="exampleInputEmail1">Email2</label>
                                                        <input type="email" name="email2" value="<%= update_contact.email2 %>"class="form-control"
                                                            id="exampleInputEmail1" placeholder="Enter email" required>
                                                     </div>

                                                     <div class="form-group">
                                                        <label for="exampleInputEmail1">Phone Number</label>
                                                        <input type="number" value="<%= update_contact.phone %>" name="phone" class="form-control"
                                                            id="exampleInputEmail1" placeholder="Enter phone number" required>
                                                     </div>

                                                     <div class="form-group">
                                                        <label for="exampleInputEmail1">Phone2</label>
                                                        <input type="number" value="<%= update_contact.phone2 %>" name="phone2" class="form-control"
                                                            id="exampleInputEmail1" placeholder="Enter phone2 number" required>
                                                     </div>
                                                       
                                                     <div class="form-group">
                                                        <label for="exampleInputEmail1">Facebook</label>
                                                        <input type="text" value="<%= update_contact.facebook %>" name="facebook" class="form-control"
                                                            id="exampleInputEmail1" placeholder="Enter facebook link" required>
                                                     </div>
                                                       
                                                     <div class="form-group">
                                                        <label for="exampleInputEmail1">Instagram</label>
                                                        <input type="text" value="<%= update_contact.instagram %>" name="instagram" class="form-control"
                                                            id="exampleInputEmail1" placeholder="Enter Instagram link" required>
                                                     </div>

                                                     <div class="form-group">
                                                        <label for="exampleInputEmail1">LinkedIn</label>
                                                        <input type="text" value="<%= update_contact.linkedIn %>" name="linkedIn" class="form-control"
                                                            id="exampleInputEmail1" placeholder="Enter LinkedIn link" required>
                                                     </div>
                                                     

                                                      <div class="form-group">
                                                        <label for="exampleInputEmail1">Map</label>
                                                        <input type="text" value="<%= update_contact.map %>" name="map" class="form-control"
                                                            id="exampleInputEmail1" placeholder="Enter map link" required>
                                                     </div> 
                                                
                                                 
                                                     <label for="exampleInputPassword1">Summary</label>
                                                     <div class="form-group " >
                                                         
                                                         <textarea name="details" id="details" class="form-control"
                                                             id="details" cols="20" rows="5" ><%- update_contact.summary %></textarea>
                                                     </div>
                                                     
                                                
                                            
                                                
                                                

                                                <div class="card-footer">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>


                                    <div class="col-md-6">
                                    </div>

                                </div>

                            </div>
                        </section>

        </div>
        
      
        <script>          
            let d= CKEDITOR.replace('details');       
        </script>

        <%- include('../../../partials/footer'); %>
        