<%- include('../../../partials/header'); %>
    <%- include('../../../partials/sidebar'); %>
    
        <div class="content-wrapper">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Update CMS</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Update CMS</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("../../../notify"); %> 
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <a href="/slug-list" class="btn btn-primary">Back</a>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
          
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Update CMS</h3>
                                            </div>

                                            <form id="bannerForm" action="/update-slug-store" method="POST">

                                                <div class="card-body">
                                                      <input type="hidden"  value="<%= data.id %> " name="slugId">   
                                                    
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Title</label>
                                   
                                                        <input type="text" name="title" value="<%= data.title %> " readonly class="form-control"
                                                            id="exampleInputEmail1" placeholder="Enter CMS title" required>
                                                    </div>

                                                
                                            
                                                <label for="exampleInputPassword1">Descrition</label>
                                                <div class="form-group " >
                                                    
                                                    <textarea name="description" id="description" class="form-control"
                                                        id="details" cols="20" rows="5" required><%- data.description %></textarea>
                                                </div>
                                                
                                                

                                                <div class="card-footer">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>


                                    <div class="col-md-6">
                                    </div>

                                </div>

                            </div>
                        </section>

        </div>
        
        <script>
            
        let d= CKEDITOR.replace('description');
        
        </script>
        <%- include('../../../partials/footer'); %>
        