<%- include('../../../partials/header'); %>
    <%- include('../../../partials/sidebar'); %>
    
        <div class="content-wrapper">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Gallary Banner </h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Gallary Banner </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <%- toasts %>
            <%- include("../../../notify"); %> 
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <a href="/gallary-banner-list" class="btn btn-primary">Back</a>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <% if (typeof successMessage !='undefined' && successMessage) { %>
                <p class="alert alert-success">
                    <%- successMessage %>
                </p>
                <% } else if(typeof errorMessage !='undefined' && errorMessage) { %>
                    <p class="alert alert-danger">
                        <%- errorMessage %>
                    </p>
                    <% } %>
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Add Gallary Banner </h3>
                                            </div>

                                            <form id="bannerForm" action="/post-gallary-banner" method="POST"
                                                enctype="multipart/form-data">

                                                <div class="card-body">

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Title</label>
                                                        <input type="text" name="bannerTitle" class="form-control"
                                                            id="exampleInputEmail1" placeholder="Enter Bannner title" required>
                                                    </div>

                                                    <!-- <div class="form-group">
                                                        <label for="exampleInputEmail1">Banner Sub Title</label>
                                                        <input type="text" name="bannerSubTitle" class="form-control"
                                                            id="exampleInputEmail1" placeholder="Enter Banner  Sub  Title" required>
                                                    </div> -->

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">image</label>
                                                        <input type="file" name="image" class="form-control"
                                                            id="exampleInputEmail1" placeholder="Enter banner image" required>
                                                    </div>
                                                
                                                

                                                <div class="card-footer">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>


                                    <div class="col-md-6">
                                    </div>

                                </div>

                            </div>
                        </section>

        </div>
        
        <script>
            
        let d= CKEDITOR.replace('details');
        
        </script>
        <%- include('../../../partials/footer'); %>
        