<%- include('../partials/header'); %>
    <%- include('../partials/sidebar'); %>
        <div class="content-wrapper">
            <%- include("../notify"); %>
                <%- toasts %>
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h1 class="m-0">Permission management</h1>
                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active">Permission management</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <!-- <h1>Course Categories</h1> -->
                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <a href="/slug" class="btn btn-primary">Add</a>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>


                    <section class="content">
                        <div class="container-fluid">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Permission management List</h3>
                                </div>

                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Sr No</th>
                                                <th>Name</th>
                                                <th>Sort Name</th>


                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(list.length){ list.forEach((element,index)=>{%>

                                                <tr>
                                                    <td>
                                                        <%= index+1 %>
                                                    </td>
                                                    <td>
                                                        <%= element.name %>
                                                    </td>

                                                    <td>
                                                        <%= element.sort_name %>
                                                    </td>

                                                    <!-- add status -->
                                                    <% if(element.status==1){ %>

                                                        <td><span
                                                                class="badge bg-label-success text-success me-1">Active</span>
                                                        </td>
                                                        <% } else { %>
                                                            <td><span
                                                                    class="badge bg-label-danger text-danger me-1">Inactive</span>
                                                            </td>
                                                            <% } %>
                                                                <td class="d-flex justify-content-around">

                                                                    <a 
                                                                        href="/delete-slug?slugName=<%= element.sort_name %>"><i
                                                                            class="fa fa-trash-o"
                                                                            style="font-size:25px; color:red"></i></a>

                                                                    <a
                                                                        href="/update-slug?slugName=<%= element.sort_name %>"><i
                                                                            class='fas fa-pen-nib'
                                                                            style="font-size:25px;"></i></a>

                                                                    <!-- status change -->
                                                                    <% if(element.status==1){ %>
                                                                        <a class="btn btn-danger"
                                                                            onclick="return confirm('Are you sure you want to inactive?');"
                                                                            href="/slug-status?id=<%= element.id%>&status=active">Inactive</a>
                                                                        <% } else { %>
                                                                            <a class="btn btn-success"
                                                                                onclick="return confirm('Are you sure you want to Active?');"
                                                                                href="/slug-status?id=<%= element.id%>status=inactive">Active</a>

                                                                            <% } %>

                                                                </td>
                                                </tr>
                                                <% }) } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
        </div>
        <%- include('../partials/footer'); %>