<%- include('../../../partials/header'); %>
    <%- include('../../../partials/sidebar'); %>
    
        <div class="content-wrapper">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Be belive in</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Be belive in</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("../../../notify"); %> 
            <%- toasts %> 
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <a href="/be-belive-list" class="btn btn-primary">Back</a>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
          
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Add Be belive in</h3>
                                            </div>

                                            <form id="bannerForm" action="/post-be-belive" method="POST" enctype="multipart/form-data">

                                                <div class="card-body">

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1"> Icon</label>
                                                        <input type="file" name="icon" class="form-control"
                                                            id="exampleInputEmail1" placeholder="Enter Partner Icon" required>
                                                    </div>

                                                   

                                                <div class="card-footer">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>


                                    <div class="col-md-6">
                                    </div>

                                </div>

                            </div>
                        </section>

        </div>
        
        
        <%- include('../../../partials/footer'); %>
        