<%- include('../../../partials/header'); %>
    <%- include('../../../partials/sidebar'); %>
        <div class="content-wrapper">
            <%- include("../../../notify"); %> 
            <%- toasts %>

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Relax We Have</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Relax We Have</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
           
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <!-- <h1>Course Categories</h1> -->
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <% if(list.length < 1) {%>
                                    <a href="/get-relax-we-have" class="btn btn-primary">Add</a>
                                    <% }%>
                                
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            
           
            <section class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Relax We Have</h3>
                        </div>

                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Sr No</th>
                                        <th>Success Champions</th>
                                        <th>Salesforce Certification</th>
                                        <th>Happy Customers</th>
                                        <th>Projects Delivered</th>
                                        <th>Go To Market Solution</th>                             
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(list.length){ list.forEach((element,index)=>{%>
                                 
                                        <tr>
                                            <td>
                                                <%= index+1 %>
                                            </td>
                                            <td>
                                                <%- element.success_champions %>
                                            </td>
                                            <td>
                                                <%- element.salesforce_certification %>
                                            </td>
                                            <td>
                                                <%- element.happy_customers %>
                                            </td>
                                            <td>
                                                <%- element.project_delivered %>
                                            </td>
                                            <td>
                                                <%- element.go_to_market_solution %>
                                            </td>
                                           
                                            <td>
                                                <a href="/delete-relax-we-have?id=<%= element.id %>" ><i class="fa fa-trash-o" style="font-size:25px; color:red"></i></a>
                
                                                <a href="/relax-we-have-update?id=<%= element.id %>" ><i class='fas fa-pen-nib' style="font-size:25px;"></i></a>
                                             </td>
                                            
                                           
                                        </tr>
                                        <%  })  } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <%- include('../../../partials/footer'); %>
      
        
