<%- include('../../../partials/header'); %>
    <%- include('../../../partials/sidebar'); %>
    
        <div class="content-wrapper">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">How we make</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Update How we make</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("../../../notify"); %> 
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <a href="/how-we-make-list" class="btn btn-primary">Back</a>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
          
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Upadate How we make</h3>
                                            </div>

                                            <form id="bannerForm" action="/update-blog-store" method="POST" enctype="multipart/form-data">

                                                <div class="card-body">
                                                    <input type="hidden" value="<%= data.id %>" name="id">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Title</label>
                                                        <input type="text" value="<%= data.title %> " name="title" class="form-control"
                                                            id="exampleInputEmail1" placeholder="Enter title" required>
                                                     </div>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Image</label>
                                                        <input type="file" value="<%= data.image %> " name="image" class="form-control"
                                                            id="exampleInputEmail1" placeholder="Enter testimonial image" >
                                                            <input type="hidden" value="<%= data.image %>"  name="oldImage" >
                                                    
                                                       
                                                    
                                                    <div>
                                                        <img style="max-height: 200px; min-height: 200px;" src="/uploaded-files/<%= data.image %>" >
                                                    </div>
                                                </div>
                                                   
                                                <label for="exampleInputPassword1">Description</label>
                                                <div class="form-group " >
                                                    
                                                    <textarea name="description" id="description" class="form-control"
                                                         cols="20" rows="5" required><%- data.description %></textarea>
                                                </div>
                                                                                               
                                                

                                                <div class="card-footer">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>


                                    <div class="col-md-6">
                                    </div>

                                </div>

                            </div>
                        </section>

        </div>
        
        <script>
            
        let d= CKEDITOR.replace('description');
        
        </script>
        <%- include('../../../partials/footer'); %>
        