<%- include('../../../partials/header'); %>
    <%- include('../../../partials/sidebar'); %>
        <div class="content-wrapper">
            <%- include("../../../notify"); %>
            <%- toasts %> 
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Video  </h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Video  </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
           
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <!-- <h1>Course Categories</h1> -->
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <a href="/add-video" class="btn btn-primary">Add</a>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            
           
            <section class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Video   List</h3>
                        </div>

                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Sr No</th>
                                   
                                        <th>Video</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(list.length){ list.forEach((element,index)=>{%>
                                 
                                        <tr>
                                            <td>
                                                <%= index+1 %>
                                            </td>
                                            <td>
                                                <video width="100px" height="auto" controls>
                                                    <source src="/uploaded-files/<%=element.video%>"type="video/mp4">
                                                </video>
                                            </td>
                                            <!-- <source src="/uploaded-files/<%=element.video%>" type="video/mp4"> -->
                                            
                                           
                                            
                                            <td>
                                                <a href="/delete-video?id=<%= element.id %>" ><i class="fa fa-trash-o" style="font-size:25px; color:red"></i></a>
                
                                                <a href="/update-video?id=<%= element.id %>" ><i class='fas fa-pen-nib' style="font-size:25px;"></i></a>
                                             </td>
                                            
                                           
                                        </tr>
                                        <%  })  } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <%- include('../../../partials/footer'); %>
      
        
